<svg width="1000" height="1000">
  		<rect x="50" y="20" rx="20" ry="20" width="160" height="150"
  		style="fill:red;stroke:black;stroke-width:5;opacity:0.5" />

  		<text x="70" y="70" fill="black">Rencontre par skype</text>
		<path d="M300,110 L300,70 L330,90 z" fill="black" />
    	<line x1="211" y1="90" x2="300" y2="90" stroke="#000" stroke-width="5" 
    	marker-end="url(#arrow)" />

   		<polygon points="330,90  370,20  500,20  540,90 500,160 370,160"
          style="stroke:#660000; fill:#cc3333; stroke-width: 3;"/>

        <path d="M629,110 L629,70 L659,90 z" fill="black" />
    	<line x1="540" y1="90" x2="629" y2="90" stroke="#000" stroke-width="5" 
    		marker-end="url(#arrow)" /> 

    	<rect x="659" y="20" rx="20" ry="20" width="160" height="150"
  		style="fill:red;stroke:black;stroke-width:5;opacity:0.5" />


  		<path d="M715,229 L755,229 L735,259 z" fill="black" />
    	<line x1="735" y1="170" x2="735" y2="229" stroke="#000" stroke-width="5" 
    	marker-end="url(#arrow)" />

    	<polygon points="630,329  670,259  800,259  840,329 800,399 670,399"
          style="stroke:#660000; fill:#cc3333; stroke-width: 3;"/>

        <path d="M540,309 L540,349 L510,329 z" fill="black" />
    	<line x1="630" y1="329" x2="540" y2="329" stroke="#000" stroke-width="5" 
    		marker-end="url(#arrow)" />

    	<rect x="350" y="254" rx="20" ry="20" width="160" height="150"
  		style="fill:red;stroke:black;stroke-width:5;opacity:0.5" />

  		<path d="M260,309 L260,349 L230,329 z" fill="black" />
    	<line x1="351" y1="329" x2="260" y2="329" stroke="#000" stroke-width="5" 
    		marker-end="url(#arrow)" />

  		<polygon points="230,329  190,259  60,259  20,329 60,399 190,399"
          style="stroke:#660000; fill:#cc3333; stroke-width: 3;"/>

</svg>