<div class="container spacer">
	<div class="panel panel-primary" *ngIf="mode==1">
		<div class="panel-heading"> Nouveau Candidat</div>
		<div class="panel-body">
			<div *ngIf="mode==1">
				<div class="form-group">
					<label class="control-labe">Nom:</label>
					<input class="form-control" type="text" [(ngModel)]="candidat.nom">
				</div>
				<div class="form-group">
					<label class="control-labe">Prenom:</label>
					<input class="form-control" type="text" [(ngModel)]="candidat.prenom">
				</div>
				<div class="form-group">
					<label class="control-labe">Telephone:</label>
					<input class="form-control" type="text" [(ngModel)]="candidat.telephone">
				</div>
				<div class="form-group">
					<label class="control-labe">Email:</label>
					<input class="form-control" type="text" [(ngModel)]="candidat.email">
				</div>
				<div class="form-group">
					<label class="control-labe">Date Naissance:</label>
					<input class="form-control" type="date" [(ngModel)]="candidat.dateNaissance">
				</div>
				<button class="btn btn-primary" (click)="saveCandidat()">Save</button>
			</div>

		</div>
	</div>


	<div class="panel panel-primary" *ngIf="mode==2">
		<div class="panel-heading"> Confirmation</div>
		<div class="panel-body">
			<div>
				<div class="form-group">
					<label class="control-labe">Nom:</label>
					<label>{{candidat.nom}}</label>
				</div>
				<div class="form-group">
					<label class="control-labe">Prenom:</label>
					<label>{{candidat.prenom}}</label>
				</div>
				<div class="form-group">
					<label class="control-labe">Telephone:</label>
					<label>{{candidat.telephone}}</label>
				</div>
				<div class="form-group">
					<label class="control-labe">Email:</label>
					<label>{{candidat.email}}</label>
				</div>
				<div class="form-group">
					<label class="control-labe">Date Naissance:</label>
					<label>{{candidat.dateNaissance}}</label>
				</div>
				<button class="btn btn-primary" (click)="reset()">Nouveau Candidat</button>
			</div>

		</div>
	</div>
</div>
