<div class="container spacer">
	<div class="panel panel-primary" *ngIf="mode==1">
		<div class="panel-heading"> Edit Candidat</div>
		<div class="panel-body">
				<div class="form-group">
					<label class="control-labe">Nom:</label>
					<input class="form-control" type="text" [(ngModel)]="candidat.nom">
				</div>
				<div class="form-group">
					<label class="control-labe">Prenom:</label>
					<input class="form-control" type="text" [(ngModel)]="candidat.prenom">
				</div>
				<div class="form-group">
					<label class="control-labe">Telephone:</label>
					<input class="form-control" type="text" [(ngModel)]="candidat.telephone">
				</div>
				<div class="form-group">
					<label class="control-labe">Email:</label>
					<input class="form-control" type="text" [(ngModel)]="candidat.email">
				</div>
				<div class="form-group">
					<label class="control-labe">Date Naissance:</label>
					<input class="form-control" type="date" [(ngModel)]="candidat.dateNaissance">
				</div>
				<button class="btn btn-primary" (click)="updateCandidat()">Update</button>
		</div>
	</div>
</div>
